<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- adaptação para telas menores-->
  <title>Willian Oliveira - Map</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  <link rel="icon" href="/images/logo-icon.png" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/polygons.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;800&display=swap" rel="stylesheet" />
</head>

<body id="body">
  <div id="container">
    <header>
      <h1>Polygons</h1>
    </header>
    <main>
      <ul>
        {{#each polygons}}
        <li>
          <a href="polygon?id={{this.id}}">
            {{this.area}} - {{this.name}}
          </a>
          <div id="actions">
            <a href="manage-customers?id={{this.id}}">
              <img src="/images/users.svg" alt="Manage Customers" />
            </a>
            <a href="manage-lockers?id={{this.id}}">
              <img src="/images/locker.svg" alt="Manage Lockers" style="width: 24px"/>
            </a>
            <div class="deleteIcon_{{this.id}}" style="cursor: pointer" onClick="deletePolygon('{{this.id}}')">
              <img src="/images/trash.svg" alt="Delete Polygon" />
            </div>
            <div class="choice-buttons deleteConfirm_{{this.id}}" onClick="deleteConfirm('{{this.id}}')">
              <img src="/images/confirm.svg" alt="Confirm Delete Polygon" />
            </div>
            <div class="choice-buttons deleteCancel_{{this.id}}" onClick="deleteCancel('{{this.id}}')">
              <img src="/images/cancel.svg" alt="Cancel Delete Polygon" />
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
    </main>
    <footer>
      <h1>2020</h1>
    </footer>
    <div id="tools">
      <a class="action" id="addNewPolygon" href="/create-polygon" title="Create Polygon">
        <img src="/images/plus.svg" alt="Go to Create Polygon" />
      </a>
      <a class="action" id="instance" href="/instance" title="Instance">
        <img src="/images/map.svg" alt="Go to Instance" />
      </a>
    </div>
  </div>
  <div class="github-container">
    <a href="http://github.com/wijloc/leaflet-polygon-creator" target="_blank">Available on GitHub</a>
  </div>

  <script src="/scripts/delete-polygon-confirm.js"></script>
</body>

</html>
